/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*background image*/
.bg-image {
	background-image: url(../image/photographer.jpeg);
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

/*flex examples*/
.container {
	width: 1170px;
	margin: 0 auto;
	background-color: yellow;
}

.left-video {
	width: 570px;
	height: 320px;
	background-color: lightblue;
	/*margin-right: 30px;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.right-video {
	width: 570px;
	height: 320px;
	background-color: grey;
}

.video-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.video {
	width: 100%;
	height: 100%;
}


.read {
	color: #FF7A00;
	font-size: 14px;
}

.read::after {
	content: "";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
}

.article-left-block {
	width: 570px;
	background-color: aqua;
}

.article-right-block {
	width: 570px;
	background-color: lightblue;
}

.article-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.image-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}
.image-block p {
	width: 255px;
}

.readmore {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-right: 9px;
}



